*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://github.githubassets.com/images/modules/site/home/globe.jpg");
    width: 1399px;
    background-repeat: none;
}
header {
    display: block;
    padding: 14px;
    width: 111vw;
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
    box-sizing: border-box;
}

li {
    box-sizing: border-box;
    display: inline-block;
    position: static;
    top:10px;
    padding: 14px;
    text-transform: capitalize;
    color: white;
}

.emails {
    display: inline-block;
    padding: 30px 20px 10px 5px;
    position: relative;
    text-align: center;
    width: 50vw;
    height: 2vh;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

img {
    background-color: white;
    display: block;
    width: 130px;
    height: 130px;
    padding: 12px 2px 3px 10px;
    position: relative;
    top: 10px;
    animation: imgs 3s infinite;
}

.icons {
    display: flex;
    justify-content: center;
    animation: icon 3s cubic-bezier(.77, 0, .18, 1) 1s infinite;
}

@keyframes icon {
    from {
        width: 130px;
    }
    to {
        width: 60vw
    }
}

@keyframes imgs {
    0% {
        transform: rotate(180);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@media screen and (max-width:414px) {
    body {
        width: 360px;
    }
}

.paragraph {
    color:orangered;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
}
a{color:white;text-decoration:none;}
button{text-transform:capitalize;text-shadow:2px;}
button:hover{color:white;background-color:rgb(7, 107, 7);}

